<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 상세</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
</head>
<body>
    <!-- 게시글 영역 -->
    <h2 th:text="${board.title}"></h2>
    <div th:text="${board.content}"></div>

    <!-- 댓글 리스트 영역 -->
    <h5 th:text="|${#lists.size(board.replyList)}개의 댓글이 존재합니다|"></h5> <!-- 문자열 입력 시 "||" 파이프 사용 필수 ! -->
    <div>
        <ul>
            <li th:each="reply : ${board.replyList}" th:text="${reply.content}"></li>
        </ul>
    </div>

    <!-- 답변 기능 영역 -->
    <form th:action="@{|/reply/create/${board.bno}|}" method="post">
        <textarea name="content" id="content" cols="10" rows="10"></textarea>
        <input type="submit" value="댓글 등록">
        <a href="/board/list">목록</a>
    </form>
    <script th:src="@{/bootstrap.min.js}"></script>    
</body>
</html>