<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시판 상세</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
</head>

<body>
    <div class="container my-3">
        <!-- 게시글 영역 -->
        <h3 th:text="${board.title}" class="border-bottom border-dark py-2"></h3>
        <div class="card text-bg-light my-3">
            <div class="card-body">
                <div th:text="${board.content}" class="card-text"></div>
                <div class="d-flex justify-content-end">
                    <div class="badge text-bg-warning">
                        <div th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 댓글 리스트 영역 -->
        <h5 th:text="|${#lists.size(board.replyList)}개의 댓글이 존재합니다|" class="border-bottom my-3 py-2"></h5> <!-- 문자열 입력 시 "||" 파이프 사용 필수 ! -->
        <div th:each="reply : ${board.replyList}" class="card border-secondary shadow-sm my-3">
            <div class="card-body">
                <div th:text="${reply.content}" class="card-text"></div>
                <div class="d-flex justify-content-end">
                    <div class="badge text-bg-secondary">
                        <div th:text="${#temporals.format(reply.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
            </div>
        </div>
        
        
      

        <!-- 답변 기능 영역 -->
        <form th:action="@{|/reply/create/${board.bno}|}" method="post">
            <textarea name="content" id="content" cols="10" rows="10" class="form-control"></textarea>
            <div class="d-flex justify-content-end mt-2">
                <input type="submit" value="댓글 등록" class="btn btn-sm btn-secondary mx-1">
            <a href="/board/list" class="btn btn-secondary btn-sm">목록</a>
            </div>
        </form>
    </div>
    <script th:src="@{/bootstrap.min.js}"></script>
</body>

</html>