<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome">
        <title>개시팔목록</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    </head>
    <body>
        <div class="container my-3">
            <table class="table table-light table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>제목</th>
                        <th>작성일자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${boardList}">
                        <!-- <td th:text="${board.title}"></td> -->
                        <td>
                            <a th:href="@{|/board/detail/${board.bno}|}" th:text="${board.title}"></a>
                        </td>
                        <td>[[${board.createDate}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <script th:src="@{/bootstrap.min.js}"></script>    
    </body>
</html>