<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
    <div layout:fragment="main-content" class="container my-3">
        <table class="table table-light table-striped">
            <thead class="table-dark">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board, loop : ${boardList}">
                    <!-- 게시글 번호 !! -->
                    <td th:text="${loop.count}"></td>
                    <td>
                        <a th:href="@{|/board/detail/${board.bno}|}" th:text="${board.title}"></a>
                    </td>
                    <td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</html>