<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
    <div layout:fragment="main-content" class="container my-3">
        <div class="d-flex justify-content-end my-1">
            <a th:href="@{/board/create}" class="btn btn-sm btn-secondary">게시글 등록</a>
        </div>
        <table class="table table-light table-striped">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>번호</th>
                    <th style="width: 60%;">제목</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board, loop : ${paging}" class="text-center">
                    <!-- 게시글 번호 !! -->
                    <td th:text="${paging.getTotalElements - (paging.number * paging.size) -  loop.index}"></td>
                    <td class="text-start">
                        <a th:href="@{|/board/detail/${board.bno}|}" th:text="${board.title}" class="text-end"></a>
                        <span th:if="${#lists.size(board.replyList) > 0}" th:text="${#lists.size(board.replyList)}" 
                              class="badge text-bg-primary"></span>
                    </td>
                    <!-- 작성자 추가 -->
                    <td>
                        <span th:if="${board.writer != null}" th:text="${board.writer.username}"></span>
                    </td>
                    <td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
            </tbody>
        </table>
        <!-- 페이징 시작 -->
        <div th:if="${!paging.isEmpty()}">
            <ul class="pagination justify-content-center">
                <!-- 첫 페이지 버튼 -->
                <li>
                    <li th:classappend="${!paging.hasPrevious} ? disabled" class="page-item">
                        <a th:href="@{|?page=0|}" class="page-link">《</a>
                    </li>
                </li>
                <!-- 이전 페이지 버튼 -->
                <li th:classappend="${!paging.hasPrevious} ? disabled" class="page-item">
                    <a th:href="@{|?page=${paging.number-1}}" class="page-link">〈</a>
                </li>
                <!-- 페이지 번호 -->
                <li th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}" 
                    th:if="${page >= paging.number-2 and page<= paging.number+2}"
                    th:classappend="${page == paging.number} ? 'active'" class="page-item">
                    <a th:href="@{|?page=${page}|}" th:text="${page+1}" class="page-link"></a>
                </li>
                <!-- 다음 페이지 버튼 -->
                <li th:classappend="${!paging.hasNext} ? disabled" class="page-item">
                    <a th:href="@{|?page=${paging.number+1}}" class="page-link">〉</a>
                </li>
                <!-- 마지막 페이지 버튼 -->
                <li th:classappend="${!paging.hasNext} ? disabled" class="page-item">
                    <a th:href="@{|?page=${paging.totalPages-1}}" class="page-link">》</a>
                </li>
            </ul>
        </div>
        <!-- 페이징 끝 -->

        <!-- <div class="d-flex justify-content-end">
            <a th:href="@{/board/create}" class="btn btn-sm btn-secondary">게시글 등록</a>
        </div> -->
    </div>
</html>